<div class="container">
  <h2>EDIT RESTAURANT</h2>
  <div
    *ngIf="alert"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success! </strong>Restaurant Updated
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="closeAlert()"
    ></button>
  </div>
  <form [formGroup]="editResto" (ngSubmit)="collection()">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">NAME</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputName"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputaddress" class="form-label">ADDRESS</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputAddress"
        formControlName="address"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail" class="form-label">EMAIL</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail"
        formControlName="email"
      />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
